/* App.css */

/* Set the background color to light blue */
.App {
  background-color: #f0f8ff; /* Light blue color code */
}

.cover-container {
  position: relative;
  height: 100vh;
  padding: 20px;
}

.content-container {
  position: absolute;
  top: 20px; /* Adjust this value to control the vertical position from the top margin */
  left: 20px; /* Adjust this value to control the horizontal position from the left margin */
  background-color: rgba(255, 255, 255, 0.6); /* Semitransparent white background */
  padding: 10px; /* Add some padding around the text and buttons */
  color: black; /* Text color */
  font-size: 14px; /* Adjust this value to change the font size */
  font-weight: bold;
  list-style: none; /* Remove default list styles */
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.button-container button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #2962ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bottom-right-buttons {
  position: fixed;
  bottom: 20px; /* Adjust this value to control the vertical position from the bottom */
  right: 20px; /* Adjust this value to control the horizontal position from the right */
  display: flex; /* Add this to display the buttons side by side */
}

.bottom-right-buttons button {
  margin-left: 10px; /* Add some space between the buttons */
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #2962ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-container {
  margin-top: 20px; /* Adjust this value to control the space between the message/buttons and the image */
}

.background-image {
  width: 100%;
  height: auto;
}

/* Rest of your CSS styles for other components can go below */
