/* Global styles */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(102, 102, 209); /* Set the background to blue */
  font-family: Arial, sans-serif; /* Use a font of your choice */
}

/* Center the card container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; /* Add this line to center the card vertically */
  background-color: rgba(0, 0, 0, 0.5); /* Set a black transparent background for the container */
}

/* Transparent card styles */
.card {
  background-color: rgb(189, 54, 194); /* Set your desired background color for the card */
  border: 2px solid #000; /* Add a distinct black border */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a slight shadow effect to the card */
  max-width: 400px; /* Set a maximum width for the card to avoid it taking the full screen width */
  align-items: center; /* Add this line to center the card horizontally */
}

/* Form container styles */
.form-container {
  background-color: rgba(0, 0, 0, 0.7); /* Set a black transparent background for the form container */
  padding: 20px;
  border-radius: 5px; /* Optional: Add some border-radius for a nicer look */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Add this line to center the form elements within the card */
}

/* Left align the form fields */
.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.form-label {
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.form-input {
  flex: 2;
}

input,
select,
textarea {
  width: 100%; /* Set the width of the form inputs to fill the available space */
  border: 1px solid #000;
  padding: 5px;
}

/* Specific box sizes for inputs */
input[type="text"],
input[type="number"],
textarea {
  min-height: 30px; /* Set a minimum height for text inputs and textareas */
}

/* Specific box size for select */
select {
  height: 30px; /* Set the height for the select input */
}

button {
  margin-top: 10px;
}
